* {
    margin: 0;
    padding: 0;
    
}

/* footer */
footer {
    text-align: center;
    background-color: black;
    padding: 3rem;
    padding-bottom: 1rem;
    color: grey;
}

/* THE FOLLOWING CODE IS NEW */

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

/* hero */
.hero1 {
    background: url(../img/hero1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero1 h1 {
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 2px black;
    text-align: center;
}

/* Choose your location */
#choose-loc-container {
    background-color: rgb(240, 240, 240);
    padding-bottom: 3rem;
}
#choose-loc-container h2 {
    padding: 4.5rem 3rem 1.5rem 3rem;
}

#map-container {
    display: flex;
    justify-content: space-around;
    margin: 0rem 5rem;
}
#map-container .img {
    width: 85px;
    height: 85px;
    border: solid black 1px;
    background-color: white;
    box-sizing: border-box;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#map-container p {
    text-align: center;
}
#map-container img{
    max-width: 70px;
}

/* Choose Your Species */
.hero2 {
    background: url(../img/hero2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero2 h2 {
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 2px black;
    text-align: center;
}

.species-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5rem;
}
.species-container div {
    width: 15rem;
    height: 20rem;
    flex: 0 45%;
    padding: 1rem;
    margin-bottom: 1rem;
}
.species-container img {
    width:100%; 
    height:100%;
    object-fit: cover;
    opacity: 0.8;
    transition: ease 0.5s;
}

.species-container img:hover {
    opacity: 0.4;
}
